<html>

<head>
    <title>Hello Spring!</title>
</head>

<body>

<h1>Hello from Spring Boot!</h1>

<a href="/about">Go to the about page</a>

<p>This web app was built by {{name}}</p>

<p>This is a project for the {{classCode}} {{className}}</p>

</body>

</html>